<figure class="image">
    <img src="{{ site.baseurl }}/assets/images/charlie-kirk.jpg"
        alt="Image of Charlie Kirk by Gage Skidmore CC BY-SA 2.0">
    <figcaption>“<a href="https://www.flickr.com/photos/gageskidmore/53068447052" title="Charlie Kirk">Charlie Kirk</a>”
        by <a href="https://www.flickr.com/photos/gageskidmore/">Gage Skidmore</a>, <a
            href="https://creativecommons.org/licenses/by-sa/2.0/deed.en" rel="license noopener noreferrer">CC BY-SA
            2.0</a></figcaption>
</figure>