<!-- 
  https://github.com/toperkin/staticFormEmails/blob/master/README.md

  Shareable prefilled link
  https://docs.google.com/forms/d/e/1FAIpQLScKfDx07skL8Bf0zzhE59_X2v83wOIy22d4RmnWi5f8zsx0jA/viewform?usp=pp_url&entry.619563936=aasdf&entry.1997931512=asdf&entry.409573121=asdf
 -->

<form name="gform" id="gform" enctype="text/plain"
    action="https://docs.google.com/forms/d/e/1FAIpQLScKfDx07skL8Bf0zzhE59_X2v83wOIy22d4RmnWi5f8zsx0jA/formResponse?"
    target="hidden_iframe" onsubmit="submitted=true;">
    First name: <input type="text" name="entry.810989529" id="entry.619563936"><br>
    Last name: <input type="text" name="entry.463380756" id="entry.1997931512"><br>
    Email: <input type="email" name="entry.463380756" id="entry.409573121"><br>
    <input type="submit" value="Submit">
</form>

<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
  var submitted=false;

  $('#gform').on('submit', function(e) {
  $('#gform *').fadeOut(2000);
  $('#gform').prepend('Your submission has been processed...');
  });
</script>